<script src="../node_modules/ckeditor/ckeditor.js"></script>
<h1>Update Blog</h1>
<form action="/posts/{{post._id}}/edit?_method=PUT" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" value="{{post.title}}" class="form-control">
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea name="postbody" id="postbody" class="form-control">{{post.body}}</textarea>
        <script>
            CKEDITOR.replace( 'postbody' );
        </script>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>